<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>ConsoleBG</addon>
    <addon>TParty</addon>
    <addon>gametime</addon>
    <addon>DressUp</addon>
    <addon>cancel</addon>
    <addon>DistancePlus</addon>
    <addon>enternity</addon>
    <addon>equipviewer</addon>
    <addon>macrochanger</addon>
    <addon>timestamp</addon>
    <addon>Debuffed</addon>
    <addon>GearSwap</addon>
    <addon>stopwatch</addon>
    <addon>chars</addon>
    <addon>ChatLink</addon>
    <addon>Clock</addon>
    <addon>digger</addon>
    <addon>latentchecker</addon>
    <addon>shortcuts</addon>
    <plugin>ChatMon</plugin>
    <plugin>Config</plugin>
    <plugin>DelayMeNot</plugin>
    <plugin>Tickle</plugin>
    <plugin>Timers</plugin>
    <plugin>WinControl</plugin>
    <plugin>FFXIDB</plugin>
  </autoload>
  <profile name="Eden">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysenablegamepad>false</alwaysenablegamepad>
    <allowwinkey>true</allowwinkey>
    <logs>3</logs>
    <args>--server play.edenxi.com</args>
    <executable>xiloader.exe</executable>
  </profile>
</settings>